@import "variables";

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  background-color: $menu-color;
  color: $white-color;
  flex-direction: column;
  align-items: center;

  & .footer_div {
    display: flex;
    justify-content: space-between;
    width: inherit;


    & .footer_list {
      @extend %list;
    }

    & .footer_link {
      @extend %general-item;
      text-decoration: none;
      color: $white-color;
      font-size: $main-size;

    }

    & .footer_link:hover {
      color: $hover-background;
      background-color: $menu-color;
      transition: background-color .3s ease-in-out;
    }


    & .go_up {
      background-color: $white-color;
      height: 96px;
      width: 96px;
      border-radius: 50px;
      border: 2px solid aliceblue;
    }

    & .go_up:hover {
      background-color: $hover-background;
      border: 2px solid $hover-background;
    }
  }

  & .social {
    display: flex;
    justify-content: space-around;
    width: 260px;
  }


}
