.footer .footer_div .footer_link, .nav .menu-list .menu-item .dropdown .droptitl, .nav .menu-list .menu-nested .dropdown .droptitl, .nav .menu-list .menu-item, .nav .menu-list .menu-nested {
  width: 130px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer_div .footer_list, .nav .menu-list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.footer .footer_div .footer_link, .nav .menu-list .menu-item .dropdown .droptitl, .nav .menu-list .menu-nested .dropdown .droptitl, .nav .menu-list .menu-item, .nav .menu-list .menu-nested {
  width: 130px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer_div .footer_list, .nav .menu-list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav .menu-list .menu-item, .nav .menu-list .menu-nested {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.nav .menu-list .menu-item .dropdown .dropdown-content, .nav .menu-list .menu-nested .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 78px;
  left: 138px;
  background-color: #f1f1f1;
  opacity: 0.6;
}
.nav .menu-list .menu-item .dropdown .dropdown-content .menu-item-nested, .nav .menu-list .menu-nested .dropdown .dropdown-content .menu-item-nested {
  display: block;
  color: black;
  text-decoration: none;
  width: 220px;
  height: 30px;
  font-size: 25px;
  padding: 12px 16px;
}
.nav .menu-list .menu-item .dropdown:hover .dropdown-content, .nav .menu-list .menu-nested .dropdown:hover .dropdown-content {
  display: block;
}
.nav .menu-list .menu-item .dropdown:hover .droptitl, .nav .menu-list .menu-item .dropdown-content .menu-item-nested:hover, .nav .menu-list .menu-nested .dropdown:hover .droptitl, .nav .menu-list .menu-nested .dropdown-content .menu-item-nested:hover {
  background-color: #a7a6a3;
  transition: background-color 0.3s ease-in-out;
}
.nav .menu-list .menu-item:hover {
  background-color: #a7a6a3;
  transition: background-color 0.3s ease-in-out;
}

.footer .footer_div .footer_link, .nav .menu-list .menu-item, .nav .menu-list .menu-nested, .nav .menu-list .menu-item .dropdown .droptitl, .nav .menu-list .menu-nested .dropdown .droptitl {
  width: 130px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer_div .footer_list, .nav .menu-list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.main {
  margin: -4px auto;
  width: 1200px;
  font-size: 25px;
  padding: 70px;
  background: linear-gradient(45deg, #b0a6a6, transparent);
}
.main h2, .main .content::first-letter {
  margin-left: 20px;
}

.footer .footer_div .footer_link, .nav .menu-list .menu-item, .nav .menu-list .menu-nested, .nav .menu-list .menu-item .dropdown .droptitl, .nav .menu-list .menu-nested .dropdown .droptitl {
  width: 130px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer_div .footer_list, .nav .menu-list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
}
.footer .footer_div {
  display: flex;
  justify-content: space-between;
  width: inherit;
}
.footer .footer_div .footer_link {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.footer .footer_div .footer_link:hover {
  color: #a7a6a3;
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}
.footer .footer_div .go_up {
  background-color: white;
  height: 96px;
  width: 96px;
  border-radius: 50px;
  border: 2px solid aliceblue;
}
.footer .footer_div .go_up:hover {
  background-color: #a7a6a3;
  border: 2px solid #a7a6a3;
}
.footer .social {
  display: flex;
  justify-content: space-around;
  width: 260px;
}

/*# sourceMappingURL=index.css.map */
