@import '../../../scss/variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-size: $main-size;

  & .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    margin: 50px;
    font-size: 20px;
    & iframe{
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

  }
}
