@import "variables";

.main {
  margin: -4px auto;
  width: 1200px;
  font-size: $main-size;
  padding: 70px;
  background: linear-gradient(45deg, $main-background, transparent);

  & h2, .content::first-letter {
    margin-left: 20px;
  }
}
@media screen and (max-width: 840px){
  .main{
    margin: -4px auto;
    width: 82%;
    font-size: $main-size;
    padding: 70px;
    background: linear-gradient(45deg, $main-background, transparent);

  }
}
@media screen and (max-width: 425px){
  .main{
    font-size: 18px;
    width: 91%;
    padding: 20px;
  }

}
